.page-title {
  font-family: "Lora", serif;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 500;
}

.link-div {
  background-color: var(--green);
  height: 6rem;
  margin: 5px;
  width: 14rem;
}

.register-link {
  font-size: 1.3rem;
  font-weight: 500;
}
