:root {
  --gray: rgba(64, 64, 64, 1);
  --green: rgba(189, 220, 215, 1);
  --blue: rgba(54, 67, 84, 1);
  --off-white: #e5e5e5;
  --text-gray: #212529;

  --title-font: "Lora", serif;
  --title-family: "Roboto", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*

Colors

*/

.bg-gray {
  background-color: var(--gray);
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-off-white {
  background-color: var(--off-white);
}

.text-gray {
  background-color: var(--text-gray);
}

/*

Buttons

*/

.btn-header:hover {
  color: var(--green);
}

.btn-link {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}

/*

Global

*/

.page-title {
  font-family: "Lora", serif;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 500;
}

/* 

Header 

*/

.header-logo {
  width: 4rem;
  margin: 0.5rem;
}

/* 

Dashboard

*/

.dashboard {
  background-color: var(--gray);
}

/*

Home page

*/

.homepage-title {
  color: var(--green);
  font-size: 6rem;
  font-weight: 800;
}

.title-container {
  margin: 12rem auto;
}

.description {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

/*

Register

*/

.register-link-container {
  background-color: var(--green);
  height: 6rem;
  margin: 5px;
  width: 14rem;
}

.register-link {
  font-size: 1.3rem;
  font-weight: 500;
}
