:root {
  --gray: rgba(64, 64, 64, 1);
  --green: rgba(189, 220, 215, 1);
  --blue: rgba(54, 67, 84, 1);
  --text-gray: #212529;

  --title-font: "Lora", serif;
  --title-family: "Roboto", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-link {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}

.title-container {
  margin: 12rem auto;
}

.h1 {
  color: var(--green);
  font-size: 6rem;
  font-weight: 800;
}

.btn-login {
  width: 100%;
  background-color: var(--green);
}

.description {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.login__bg {
  background-color: #e5e5e5;
}

.navbar-brand__sign-in {
  color: var(--text-gray);
  font-size: 22px;
  font-weight: 700;
  font-family: "Lora", serif;
  font-family: "Roboto", sans-serif;
  margin-top: 2rem;
}
